---
import "../../css/global.css";
import Headerv2 from "../../components/Headerv2.astro";
import Layout from "../../layouts/Layout.astro";
import Product_header from "../../components/Product_header.astro";
import Product_img from "../../components/Product_img.astro";
import Product_info from "../../components/Product_info.astro";
import Product_purchase from "../../components/Product_purchase.astro";

export async function getStaticPaths() {
  const data = await fetch("https://hyirzxgnbyzseptrsnej.supabase.co/rest/v1/products", {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh5aXJ6eGduYnl6c2VwdHJzbmVqIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQyMzg0NjksImV4cCI6MTk5OTgxNDQ2OX0.snnOfGlxhhbRYpO6eCrZeUAF5CUfhVeReRhwSnTOinY",
    },
  }).then((response) => response.json());

  return data.map((product) => {
    return {
      params: { name: product.name },
      props: { myData: product },
    };
  });
}

const { myData } = Astro.props;
console.log(myData);
---



<Layout title={myData.name} >
  <Headerv2 />
  <div class="container">
    <div class="product-header">

     <Product_header>
      
    </div>
    <div class="overflow">
      <div class="images">
        <Product_img />
      </div>
    </div>
    <div class="product-info">
      <Product_info />
    </div>
  </div>
  <Product_purchase />
  <style>

    html{
      height:100%
      scroll-behavior: smooth;
    }
    .container {
      padding: 6em 0 0 0;
      margin: 0;
    }

    .product-info {
      padding: 0 1.5em 0 1.5em;
    }

    @media (min-width: 800px) {
      .container {
        padding: 18vh 0 0 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100vh;
      }

      .overflow {
        display: flex;
        position: absolute;
        overflow-y: scroll; /* make it scrollable */
        height: 100%;
        width: 100%;
      }

      .images {
        grid-row: 1;
        width: 50vw;
      }

      .product-header,
      .product-info,
      .product-purchase {
        grid-column: 2/3;
        grid-row: 1;
        padding-left: 2em;
        padding-right: 2em;
      }

      .product-info {
        margin-top: 15%;
      }

      .overflow::-webkit-scrollbar {
        /* Chrome, Safari, and Opera */
        scroll-behavior: smooth;
      }
    }
  </style>
</Layout>
