---
import "../css/global.css";
import Forsideheader from "../components/Forsideheader.astro";
import Layout from "../layouts/Layout.astro";
import Sixitems from "../components/sixitems.astro";
import Quote_lp from "../components/Quote_lp.astro";
---

<Forsideheader />
<div class="header"></div>
<Layout title="Blaalig">
<Quote_lp />

    <div class="grid1x1">
        <img src="../assets/alban.jpg" alt="">
        <img src="../assets/alban.jpg" alt="">
    </div>
<Sixitems />
<div>
 <img src="../assets/alban.jpg" alt="">
</div>

</Layout>

<style>
    .header {
      display: flex;
      justify-content: space-between;
      padding: 2rem;
      height: 100vh;
      background: url("../assets/DSC05971.jpg") no-repeat;
      background-position: 80% bottom;
      background-size: cover;
    }

        img {
        max-width: 100%;
        object-fit: contain;
    }

    @media (min-width: 800px) {

        .grid1x1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
</style>
