---
import "../css/global.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Header />
<Layout title="Kune">
  <section>
    <div>
      <h1 class="first_h1">Kune Festival</h1>
      <h3 class="first_h3">A 5 days festival</h3>
    </div>
    <h2 class="first_h2">Line up</h2>
    <article>
      <div class="container">
        <div class="text">
          A 5-day electronic music festival that takes place on an island 30 minutes away from Copenhagen. A
          one-of-its-kind celebration of the Scandinavian underground culture. A playground with five stages, two art
          galleries, and multiple art installations. An intimate, holistic experience with access to a camping ground,
          food area, dipping spot, and unique sunsets. A true hidden gem.
        </div>
      </div>
      <div class="container2">
        <div class="card"><img src="../assets/aboutus6.webp
        " alt=""></img></div>
      </div>
    </article>
    <article>
      <div class="container">
        <div class="card"><img src="../assets/aboutus9.webp
        " alt=""></img></div>
      </div>
      <div class="container2">
        <div class="text">
          The location The island is a decommissioned defense fort built in the 19th century. A unique landmark with
          historical value, the fort-island was recently renovated and repurposed into a place dedicated to young people
          and innovative cultural initiatives. It can host 2500 people, 1000 of which could be accommodated in the
          camping area.
        </div>
      </div>
    </article>
    <article>
      <div class="container">
        <div class="text2">
          <h3>Transport</h3>
          <p>
            Traveling to KUNE Festival by boat for a 30-minute journey to an island location adds a unique and
            significant element to the festival experience. Reaching the festival site by boat separates us from our
            everyday lives and creates a sense of escape to a new world.
          </p>
          <p>
            This close-knit community setting creates a petri dish for social interactions, where we can connect and
            bond in a way that is impossible in our everyday lives. The quiet trip to Ungdomsøen takes place on Spar
            Shipping´s ferries, which sail from Nyhavn. The ferry trip takes half an hour and can be booked through
            booking@ungdomsoen.dk.
          </p>
        </div>
      </div>
      <div class="container2">
        <div class="card"><img src="../assets/aboutus1.webp
        " alt=""></img></div>
      </div>
    </article>
    <article>
      <div class="container">
        <div class="card">
        <img src="../assets/aboutus10.webp
        " alt=""></img>
        </div>
      </div>
      <div class="container2">
        <div class="text">
          The location The island is a decommissioned defense fort built in the 19th century. A unique landmark with
          historical value, the fort-island was recently renovated and repurposed into a place dedicated to young people
          and innovative cultural initiatives. It can host 2500 people, 1000 of which could be accommodated in the
          camping area.
        </div>
      </div>
    </article>
    <article>
      <div class="container">
        <div class="card-big">
                <img src="../assets/aboutus4.webp
        " alt=""></img></div>
      </div>
      <div class="container2">
        <div class="card">
        <img src="../assets/aboutus6.webp
        " alt=""></div>
        </div>
      </div>
    </article>
    <article>
      <div class="container"></div>
      <div class="container2">
        <div class="card-small"><img src="../assets/aboutus10.webp
        " alt=""></img>
      </div>
    </article>
  </section>
</Layout>

<style>
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 3rem;
    padding-top: 3rem;
    position: relative;
    top: -50px;
    justify-content: center; /* center the grid items horizontally */
    grid-column-gap: 2rem; /* add 2rem gap between the columns */
  }
  .first_h1 {
    position: absolute;
    left: 63px;
    top: 17%;
    font-size: 120px;
    line-height: 142px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .first_h2 {
    position: absolute;
    right: 5%;
    top: 10%;
    font-size: 45px;
    line-height: 142px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .first_h3 {
    position: absolute;
    top: 34%;
    left: 63px;
    font-size: 45px;
    line-height: 142px;
    display: flex;
    align-items: center;
    text-align: center;
  }

.card {
  border: 3px solid black;
  border-radius: 35px 0 25px 5px;
  overflow: hidden;
  width: 513px;
  height: 488.68px;
  background-color: white;
}

img {
  max-width: 100%;
  height: 100%;
}

  .card-big {
    margin-top: 20rem;
    border: 3px solid black;
    border-radius: 35px 0 25px 5px;
    overflow: hidden;
    width: auto;
    height: 747px;
    background-color: white;
  }

  .card-small {
    border: 3px solid black;
    border-radius: 35px 0 25px 5px;
    overflow: hidden;
    width: 513px;
    height: 339px;
    background-color: white;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* set the height of the container */
    padding: 1rem;
    border-radius: 5px;
  }
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    padding: 1rem;
    border-radius: 5px;
    width: 30ch;
  }

  .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -26%;
    height: 50vh; /* set the height of the container */
    padding: 1rem;
    border-radius: 5px;
  }

  .text2 {
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    padding: 1rem;
    width: 40ch;
  }
</style>
