---
import "../css/global.css";
import Forsideheader from "../components/Forsideheader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blaalig">
  <Forsideheader />
  <div class="header">
    <h1>About</h1>
    <div class="arrow-button"><img src="/assets/Arrow.webp" alt="" /></div>
  </div>
  <div class="container">
    <div class="grid1x1">
      <div class="text">
        <p>
          Blaalig is a brand, focusing on jewelry that is long lasting, creates awareness and aimes to be as sustainable
          as possible. We have created a trendy jewelry collection that is inspired by one of FN's Global Goals,
          "Climate Action".
        </p>
        <p>
          One of the biggest areas where we need to take action is with the rising sea levels. We want to create
          awareness on this serious topic and our jewelry is therefor inspired by the beautiful gletchers and sea ice
          that sadly are melting away.
        </p>
      </div>
      <div class="image"></div>
    </div>
    <div class="quotemob">
      <p>
        We are three young <br /> women, who with passion <br />have designed and <br />created this company<br />
        and we truly hope that<br />
        you will take part in our <br />journey and enjoy our<br /> jewelry.
      </p>
    </div>
    <div class="quotedesk">
      <p>
        We are three young women, who with passion have <br /> designed and created this company and we truly hope <br
        />
        that you will take part in our journey and enjoy our<br /> jewelry.
      </p>
    </div>
  </div>
  <h2>PRODUCTION</h2>
  <div class="mp4">
    <video loop autoplay muted>
      <source src="../assets/Produktionsvideo.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="video-text">
    <p>
      Behind every Blaalig jewelry, there is a unique design process. As all pieces are handmade by us, minor
      differences may occur in the jewelry.<br /><br /> We focus on the environment, intending to be as sustainable as possible.
      Therefore, we have both our design process and our production in Copenhagen.<br /><br /> This is important to us as
      it ensures high quality, keeps our production local, and reduces transport and CO2 emissions.
    </p>
  </div>
</Layout>
<script>
  const arrowButton = document.querySelector(".arrow-button");

  arrowButton.addEventListener("click", () => {
    window.scrollTo({
      top: window.innerHeight,
      behavior: "smooth",
    });
  });
</script>
<style>
  h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding-bottom: 0.5em;
    font-weight: 600;
  }
  .mp4 {
    margin: 0;
    padding: 0;
    height: 75vh;
    overflow: hidden;
    font-size: 0;
  }

  .mp4 video {
    object-fit: cover;
    object-position: center 40%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .video-text {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .video-text p {
    line-height: 1.5;
    font-size: 20px;
    text-align: left;
    width: 90%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    height: 100vh;
    background: url("../assets/aboutcover.JPG") no-repeat;
    background-position: 80% bottom;
    background-size: cover;
  }
  .arrow-button {
    position: absolute;
    top: 92%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px; /* half of the height */
    margin-left: -25px; /* half of the width */
    border: none;
    outline: none;
    /* background-color: white; */
    cursor: pointer;

    scale: 0.5;
  }
  .arrow-button img {
    max-width: 150px;
  }

  h1 {
    color: white;
    margin: auto;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
  }

  img {
    max-width: 100%;
    object-fit: contain;
  }

  .image img {
    max-width: 100%;
  }

  .image {
    background: url("../assets/aboutfoto.jpg") center 30%;
    height: 600px;
    background-size: cover;
  }

  .text {
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .text p {
    line-height: 1.5;
    max-width: 40ch;
    font-size: 20px;
    text-align: left;
  }

  .quotemob {
    text-align: center;
    font-size: 25px;
    padding-top: 4em;
    padding-bottom: 3em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    line-height: 1.5em;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }

  .quotedesk {
    display: none;
  }

  @media (min-width: 800px) {
    .grid1x1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .quotedesk {
      display: block;
      text-align: center;
      font-size: 25px;
      padding-top: 4em;
      padding-bottom: 3em;
      padding-left: 0.1em;
      padding-right: 0.1em;
      line-height: 1.5em;
      font-weight: 400;
      font-family: "Montserrat", sans-serif;
    }

    .quotemob {
      display: none;
    }

    .text {
      order: 2;
    }

    .image {
      order: 1;
      height: 750px;
    }

    h1 {
      font-size: 100px;
    }
  }
</style>
