---
import "../css/global.css";
import Header from "../components/Header.astro";
//import { Debug } from "astro/components";
import Layout from "../layouts/Layout.astro";
import Artist from "../components/Artist.astro";
const data = await fetch("https://bvyynevxbhbnpyxhpnih.supabase.co/rest/v1/kune", {
  method: "GET",
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ2eXluZXZ4YmhibnB5eGhwbmloIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzkwNDE0MTIsImV4cCI6MTk5NDYxNzQxMn0.j8URUy6HGV0vkNj8EKsI61TI4G6x-zzhaQZEwnjv4aQ",
  },
}).then((res) => res.json());
---

<Header />
<Layout title="Kune">
  <article>
    <h1 class="first_h1">Friday</h1>
    <h2 class="first_h2">Line up</h2>
    {
      data
        .filter((act) => act.day === "friday")
        .map((artist) => {
          return <Artist data={artist} />;
        })
    }
  </article>
  <article>
    <h1 class="first_h1">Saturday</h1>
    {
      data
        .filter((act) => act.day === "saturday")
        .map((artist) => {
          return <Artist data={artist} />;
        })
    }
  </article>
  <article>
    <h1 class="first_h1">Sunday</h1>
    {
      data
        .filter((act) => act.day === "sunday")
        .map((artist) => {
          return <Artist data={artist} />;
        })
    }
  </article>
</Layout>

<style>
  article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 5rem;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    position: relative;
    top: -150px;
    margin-bottom: 4rem;
  }
  .first_h1 {
    position: absolute;
    left: 63px;
    top: -16%;
    font-size: 120px;
    line-height: 142px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .first_h2 {
    position: absolute;
    right: 15%;
    top: -5%;
    font-size: 45px;
    line-height: 142px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  @media screen and (max-width: 1300px) {
    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-bottom: 5rem;
      padding-top: 5rem;
      padding-left: 5rem;
      padding-right: 5rem;
      position: relative;
      top: -150px;
      margin-bottom: 4rem;
    }
    .first_h1 {
      font-size: 80px;
      line-height: 100px;
      left: 30px;
      top: -10%;
    }

    .first_h2 {
      font-size: 30px;
      line-height: 50px;
      right: 5%;
      top: -5%;
    }
  }

  @media screen and (max-width: 800px) {
    article {
      display: grid;
      grid-template-columns: 1fr;
      padding-bottom: 5rem;
      padding-top: 5rem;
      padding-left: 5rem;
      padding-right: 5rem;
      position: relative;
      top: -150px;
      margin-bottom: 4rem;
      min-width: 700px;
      justify-self: center;
    }
    .first_h1 {
      font-size: 80px;
      line-height: 100px;
      left: 30px;
      top: -60px;
    }

    .first_h2 {
      font-size: 30px;
      line-height: 50px;
      left: 40%;
      top: 20px;
    }
  }
</style>
