---
import "../css/global.css";
import Forsideheader from "../components/Forsideheader.astro";
import Layout from "../layouts/Layout.astro";
import Gallery_slider from "../components/Gallery_slider.astro";
---

<Layout title="Blaalig">
  <Forsideheader />
  <div class="header">
    <h1>Gallery</h1>
    <div class="arrow-button"><img src="/assets/Arrow.webp" alt="" /></div>
  </div>
  <Gallery_slider />
</Layout>
<script>
  const arrowButton = document.querySelector(".arrow-button");

  arrowButton.addEventListener("click", () => {
    window.scrollTo({
      top: window.innerHeight,
      behavior: "smooth",
    });
  });
</script>
<style>
  .header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    height: 100vh;
    background: url("../assets/gallery_cover.jpg") no-repeat;
    background-position: 80% bottom;
    background-size: cover;
  }
  .arrow-button {
    position: absolute;
    top: 92%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px; /* half of the height */
    margin-left: -25px; /* half of the width */
    border: none;
    outline: none;
    /* background-color: white; */
    cursor: pointer;

    scale: 0.5;
  }
  .arrow-button img {
    max-width: 150px;
  }
  h1 {
    color: white;
    margin: auto;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
  }

  img {
    max-width: 100%;
    object-fit: contain;
  }

  @media (min-width: 800px) {
    h1 {
      font-size: 100px;
    }
  }
</style>
