---
import "../css/global.css";
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Textslider from "../components/Textslider.astro";
---

<Layout title="Kune">
  <img src="assets/forside_foto.webp" alt="" />
  <Textslider />
  <section class="grid_1-1">
    <p>dsadasd</p>
  </section>
</Layout>

<style>
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
