---
import "../css/global.css";
import Forsideheader from "../components/Forsideheader.astro";
import Layout from "../layouts/Layout.astro";
import Indexproducts from "../components/Indexproducts.astro";
import Quote_lp from "../components/Quote_lp.astro";
import About_lp from "../components/About_lp.astro";
import Gallery_lp from "../components/Gallery_lp.astro";
---

<Forsideheader />
<div class="header"></div>
<!-- <a href="#"><span>GET TICKETS</span></a> -->
<Layout title="Blaalig">
  <Indexproducts />
  <Quote_lp />
  <div class="grid1x1">
    <About_lp />
    <Gallery_lp />
  </div>
  <style>
    .header {
      display: flex;
      justify-content: space-between;
      padding: 2rem;
      height: 100vh;
      background: url("../assets/DSC05971.jpg") no-repeat;
      background-position: 80% bottom;
      background-size: cover;
    }

    p {
      margin: auto;
      width: 551px;
      height: 330px;

      font-family: "Fugue";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 30px;
      display: flex;
      justify-content: center;

      color: #000000;
    }

    @media (min-width: 800px) {
      .grid1x1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .header {
        background-position: center bottom;
      }
    }
  </style>
</Layout>
