---
---

<div class="card">
  <div class="img">
    <!-- <img src="/assets/about_lp.jpg" alt=""> -->
  </div>
  <div class="grid3x2">
    <h3>About</h3>
    <a href="/about">Discover</a>
    <p>
      All of our jewelry are <br /> designed and made by us,<br /> in the heart of
      Copenhagen.
    </p>
  </div>
</div>

<style>
  img {
    max-width: 100%;
    display: block;
    margin: auto;
  }
  .img {
    background-image: url("../assets/about_lp.webp");
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .grid3x2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
  h3 {
    padding-left: 0.7em;
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 0.5em;
  }
  a {
    color: black;
    font-weight: 400;
    padding-top: 1.5em;
    text-align: right;
    padding-right: 1.5em;
    font-size: 15px;
    text-transform: uppercase;
  }

  p {
    padding-left: 1.5em;
    padding-top: 1em;
    padding-bottom: 4em;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.5;
  }
</style>
