---
---

<footer>
  <div class="logo">
    <img src="../public/assets/kune_logo_lang.webp" alt="logo" />
  </div>
  <div class="copyright">
    <p>&copy; 2023 KUNE. All Rights Reserved.</p>
  </div>
</footer>

<style>
  footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
  }

  .logo img {
    max-width: 100%;
    max-height: 100%;
  }

  .logo img:hover {
    opacity: 0.8;
  }

  .logo:hover {
    cursor: pointer;
  }

  .footer-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
    width: 100%;
  }

  .logo {
    margin-bottom: 20px;
  }

  .footer-item {
    margin-bottom: 10px;
  }
</style>
