---
import Menu from "./Menu.astro";
---

<header>
  <div class="header">
    <div class="column1">
      <a href="/">
        <img class="logo" src="../assets/logo.webp" alt="logo" />
      </a>
    </div>
    <div class="column3">
      <Menu />
    </div>
  </div>
  <section class="flex"></section>
</header>

<style>
  header {
    display: block;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    height: 766px;
    background: url("../assets/forside_foto.webp") no-repeat center center fixed;
    background-size: cover;
  }

  .column1 {
    max-width: 100%;
    text-align: left;
  }
  img {
    max-width: 150px;
  }
  .column2 {
    max-width: 100%;
    text-align: center;
  }
  .column3 {
    max-width: 100%;
    align-items: right;
  }

  .flex {
    width: 100%;
    position: absolute;
    top: 10%;
    left: -10;
  }
</style>
