---

---

<div class="card">
    <div class="img">
        <!-- <img src="/assets/gallery_lp.png" alt=""> -->
    </div>
    <div class="grid3x2">
        <h3>Gallery</h3>
        <a href="">Go to gallery</a>
        <p>A collection of posters,<br>  photoshoots, process photos<br> and much more.</p>
    </div>
</div>

<style>
img{
    max-width: 100%; 
    display: block; 
    margin: auto;
}

.img{
    background: url("../public/assets/gallery_lp.png") center center;
    height: 900px;
    background-size: cover;
    background-attachment: scroll;
}
.grid3x2{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
h3{
    padding-left: 1.5em;
    margin: 0;
    padding-top: 0.8em;
    font-size: 20px;
}
a{
color: black;
font-weight: 600;
padding-top: 0.8em;
text-align: right;
padding-right: 1.5em;
font-size: 20px;

}

p{
    padding-left: 1.5em;
    padding-top: 1em;
    padding-bottom: 4em;
}


</style>