---
---

<div class="slider-container">
  <h2>The ice is melting</h2>
  <div class="slider-row">
    <div class="slider">
      <img src="../assets/gallery/gallery1.webp" alt="Image 4" />
      <img src="../assets/gallery/gallery2.webp" alt="Image 5" />
      <img src="../assets/gallery/gallery3.webp" alt="Image 6" />
      <img src="../assets/gallery/gallery4.webp" alt="Image 9" />
      <img src="../assets/gallery/gallery5.webp" alt="Image 9" />
      <img src="../assets/gallery/gallery6.webp" alt="Image 9" />
      <!-- Add more images here -->
    </div>
  </div>

  <h2>Glacier jewls</h2>
  <div class="slider-row">
    <div class="slider">
      <img src="../assets/gallery/gallery7.webp" alt="Image 4" />
      <img src="../assets/gallery/gallery8.webp" alt="Image 5" />
      <img src="../assets/gallery/gallery9.webp" alt="Image 6" />
      <img src="../assets/gallery/gallery10.webp" alt="Image 9" />
      <img src="../assets/gallery/gallery11.webp" alt="Image 9" />
      <img src="../assets/gallery/gallery12.webp" alt="Image 9" />
      <img src="../assets/gallery/gallery13.webp" alt="Image 4" />
      <img src="../assets/gallery/gallery14.webp" alt="Image 5" />
      <img src="../assets/gallery/gallery15.webp" alt="Image 6" />
      <img src="../assets/gallery/gallery16.webp" alt="Image 9" />

      <!-- Add more images here -->
    </div>
  </div>
  <h2>Waves</h2>
  <div class="slider-row">
    <div class="slider">
      <img src="../assets/alban.jpg" alt="Image 7" />
      <img src="../assets/alban.jpg" alt="Image 8" />
      <img src="../assets/alban.jpg" alt="Image 9" />
      <img src="../assets/alban.jpg" alt="Image 9" />
      <img src="../assets/alban.jpg" alt="Image 9" />
      <img src="../assets/alban.jpg" alt="Image 9" />
      <img src="../assets/alban.jpg" alt="Image 9" />
      <!-- Add more images here -->
    </div>
  </div>
</div>

<style>
  .slider-container {
    position: relative;
    width: 100%;
    overflow-x: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .slider-row {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 0;
    touch-action: pan-x;
    font-size: 0;

    /* overflow-y: hidden; */
  }

  .slider {
    display: inline-flex;
  }

  .slider img {
    max-width: 100%;
    max-height: 50vh;
    object-fit: contain;
  }

  /* Hide the scrollbar */
  .slider-row {
    /* Firefox */
    overflow-x: none;
    -ms-overflow-style: none;
    /* IE and Edge */
  }

  .slider-row::-webkit-scrollbar {
    /* Chrome, Safari, and Opera */
    display: none;
  }

  .slider-row::-webkit-scrollbar-thumb {
    display: none;
  }

  h2 {
    padding-top: 1em;
    padding-bottom: 1em;
    text-transform: uppercase;
  }

  @media (min-width: 800px) {
    .slider-row::-webkit-scrollbar {
      /* Chrome, Safari, and Opera */
      display: block;
      height: 8px;
      background-color: rgb(209, 209, 209);
    }

    .slider-row::-webkit-scrollbar-thumb {
      display: block;
      background-color: #486a71;
      /*background: url("../assets/icebackground.png") center 90%;*/
    }
  }
</style>
