---
import Menu from "./Menu.astro";
import Timer from "./Timer.astro";
---

<header>
  <div class="column1">
    <img href="/index" class="logo" src="../public/assets/logo.webp" alt="logo" />
  </div>
  <div class="column2">
    <Timer />
  </div>
  <div class="column3">
    <Menu />
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    height: 460px;
    background: url("../public/assets/header_pic.png") no-repeat center center fixed;
    background-size: cover;
  }

  .column1 {
    max-width: 100%;
    text-align: left;
  }
  img {
    max-width: 150px;
  }
  .column2 {
    max-width: 100%;
    text-align: center;
  }
  .column3 {
    max-width: 100%;
    align-items: right;
  }
</style>
