---
import Menu from "./Menu.astro";
import Timer from "./Timer.astro";
---

<header>
  <div class="column1">
    <img class="logo" src="../assets/logo.webp" alt="logo" />
  </div>
  <div class="column2">
    <Timer />
  </div>
  <div class="column3">
    <Menu />
  </div>
</header>

<style>
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 460px;
    background: url("../assets/header_pic.png") no-repeat center center fixed;
    background-size: cover;
    padding-top: 1rem;
  }

  .column1 {
    max-width: 100%;
    text-align: left;
    padding-left: 1rem;
  }
  img {
    max-width: 150px;
  }
  .column2 {
    max-width: 100%;
    text-align: center;
  }
  .column3 {
    max-width: 100%;
    align-items: right;
    padding-right: 1rem;
  }

    @media screen and (max-width: 700px) {
    header {
        display: block;
        padding: 2rem;
        height: 460px;
        background: url("../assets/header_pic.png") no-repeat center center fixed;
        background-size: cover;
      }
    
        .column3 {
          position: relative;
          top: -25%;
          left: 80%;
        max-width: 100%;
        align-items: right;
      }
    
      }
</style>
