---
const { data } = Astro.props;
---

<div class="grid1x1">
  {
    data.map((product) => {
      return (
        <a href={`product/${product.name}`}>
          <div class="imgDiv">
            <img src={"/assets/products/" + product.img} />
            <img src={"/assets/products/" + product.img_hover} />
            <div class="info">
              <p class="name">{product.name}</p>
              <p class="price">{product.price} DKK</p>
            </div>
          </div>
        </a>
      );
    })
  }

  <!-- Repeat for all other divs -->
</div>

<style>
  .imgDiv {
    display: grid;
    height: 100%;
  }

  .imgDiv img {
    max-width: 100%;
    transition: opacity 0.3s;
    object-fit: cover;
    width: 100%;
    height: 400px;
  }

  a {
    text-decoration: none;
    color: black;
  }
  .imgDiv img:nth-child(2) {
    opacity: 0;
  }

  .imgDiv:hover img:nth-child(2) {
    opacity: 1;
  }

  .imgDiv:hover img:nth-child(1) {
    opacity: 0;
  }

  .imgDiv > * {
    grid-column: 1;
    grid-row: 1;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    position: relative;
  }

  .price {
    font-size: 20px;
    margin: 0;
    margin-bottom: 0.5em;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }

  .name {
    font-size: 20px;
    margin: 0;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }
  .info:hover > * {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }

  .grid1x1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 800px) {
    .grid1x1 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
</style>
