---
---

<div class="grid1x1">
  <div class="imgDiv"> 
<div class="info">
      <p class="name">NEVA</p>
      <p class="price">750</p>
    </div>
  </div>
  <!-- Repeat for all other divs -->
</div>

</div>
<style>
.imgDiv {
  background-image: url('/assets/neva.png');
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  width: 100%; /* You can set these to whatever you want */
  height: 300px; /* You can set these to whatever you want */
  padding: 10px; /* Add some padding to ensure the text isn't right up against the edge */
}

.imgDiv:hover {
  background-image: url('/assets/new-image.png'); /* Change this to the image you want when hovering */
}

.info {
  text-align: center;
}

.price {
  font-size: 20px;
  margin: 0;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.name {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.grid1x1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

@media (min-width: 800px) {
  .grid1x1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}



</style>
