---
---

<div class="grid1x1">
  <div>
    <img src="/assets/neva.png" alt="" /><p class="name">NEVA</p>
    <p class="price">750</p>
  </div>
  <div>
    <img src="/assets/neva.png" alt="" /><p class="name">NEVA</p>
    <p class="price">750</p>
  </div>
  <div>
    <img src="/assets/neva.png" alt="" /><p class="name">NEVA</p>
    <p class="price">750</p>
  </div>
  <div>
    <img src="/assets/neva.png" alt="" /><p class="name">NEVA</p>
    <p class="price">750</p>
  </div>
  <div>
    <img src="/assets/neva.png" alt="" /><p class="name">NEVA</p>
    <p class="price">750</p>
  </div>
  <div>
    <img src="/assets/neva.png" alt="" /><p class="name">NEVA</p>
    <p class="price">750</p>
  </div>
  <div>
    <img src="/assets/neva.png" alt="" /><p class="name">NEVA</p>
    <p class="price">750</p>
  </div>
  <div>
    <img src="/assets/neva.png" alt="" /><p class="name">NEVA</p>
    <p class="price">750</p>
  </div>
</div>
<style>
  .grid1x1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center the grid vertically */
  }

  .price {
    text-align: center;
    font-size: 20px;
    margin: 0;
  }

  .name {
    text-align: center;
    font-size: 20px;
    margin: 0;
  }

  .grid1x1 img {
    max-width: 100%; /* Ensure the images don't exceed the container width */
    display: block; /* Remove any default spacing */
    margin: auto; /* Center the images horizontally within their div */
  }
</style>
