---
---

<div class="sticky">
  <p>
    Purchase your jewelry by contacting us via<br /> email at <a href="mailto: blaaligjewellery@gmail.com"
      >blaaligjewellery@gmail.com</a
    > or by<br /> phone at <a href="tel: +4551898483"> +45 51 89 84 83.</a>
  </p>
</div>

<style>
  a {
    color: black;
  }

  p {
    text-align: center;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }
</style>
