---

---

<div>
    <h1>BELA RING</h1>
    <h2>475 dkk</h2>
    <div></div>
</div>

<style>
    h1,h2{
        text-align: center;
    }

    h1{
        font-weight: 600;
        font-size: 35px;
    }

    h2{
        font-weight: 400;
        font-size: 20px;
    }


    @media (min-width:800px){
        h1,h2{
        text-align: left;
    }

    h1{
        font-weight: 600;
        font-size: 40px;
    }

    h2{
        font-weight: 400;
        font-size: 30px;
    }
    }
</style>