---
---

<div class="center">
  <!-- DATABASE -->
  <p>
    Like all Blaaligs jewelry, our Bela ring is handmade and designed in Copenhagen. It expresses melting ice, which is
    our underlying inspiration. Our Bela ring is made in 925 sterling silver to ensure good quality and long durability.
  </p>
  <p>MATERIAL: 925 sterling silver</p>

  <!-- DATABASE -->
  <p>SIZES - Contact us for sizes and guidance</p>

  <ul>
    <li>Handmade in Copenhagen, Denmark</li>
    <br />
    <li>Shipping within 10 working days</li>
    <br />
    <li>14 days return request</li>
    <br />
    <li>925 sterling silver</li>
  </ul>
</div>
<style>
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  ul {
    padding-top: 3em;
    list-style-type: disc;
  }

  p {
    width: 85%;
    text-align: left;
    font-size: 20px;
    padding: 4em auto 3em auto;
    line-height: 1.5em;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }

  li {
    text-align: left;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }
</style>
