---
---

<div class="grid_1">
  <div class="quote"><p>All of our jewelry is created in sterling silver as we wish for them to be long-lasting and as sustainable as possible.</p></div>
</div>

<style>
  .quote {
    text-align: center;
    font-size: 25px;
    padding-top: 4em;
    padding-bottom: 3em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    line-height: 1.5em;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
  }
</style>
