---
---

<section class="six-items">
    <div class="grid1">
        <div class="flex-center">
            <div>
                <h3>Made-To-Order</h3>
                <p>We do slow fashion it’s a sustainable approach to production and it emphasizes
                    customization and minimizes waste. When a customer places an order for a piece of jewelry,
                    it is
                    crafted
                    by hand specifically for that customer.</p>
            </div>
        </div>
    </div>
    <div class="grid1x1x1">
        <div class="flex-center">
            <div>
                <h3>CRAFTSMANSHIP</h3>
                <p>Every piece is crafted by hand, focusing on creating jewelry that is long-lasting, raises
                    awareness,
                    and aims to be as sustainable as possible.
                    All of our jewelry is created in sterling silver, as we wish for it to be as long-lasting
                    and
                    sustainable as possible.</p>
            </div>
        </div>
        <div class="container-img">
            <img src="/alban.jpg" alt="">
        </div>
        <div class="flex-center">
            <div>
                <h3>LOCAL PRODUCTION</h3>
                <p>All of our jewelry are designed and made by us, in the heart of Copenhagen. We
                    have had a long and fun design process.</p>
            </div>
        </div>
    </div>
    <div class="grid1x1">
        <div class="flex-center">
            <div>
                <h3>BUY LOCALLY</h3>
                <p>We produce locally produced products so we have less distance to travel to the consumer,
                    which
                    helps
                    reduce greenhouse gas emissions.</p>
            </div>
        </div>
        <div class="flex-center">
            <div>
                <h3>RECYCLED AND REUSABLE PACKAGING</h3>
                <p>Environmentally friendly packaging for our collection, Blues. We received
                    recycled boxes from another jewelry company to use. </p>
            </div>
        </div>
    </div>
</section>

<style>
section {
/* border: none;
border-top: 1px solid black; */
margin: 3em 0 3em 0;
}

h3 {
text-align: center;
}

p {
width: 40ch;
text-align: center;
margin: 0 auto;
}

img {
max-width: 95%;
object-fit: contain;

}

.container-img {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
/* Adjust this to match your container's width */
height: 100%;
}

@media (min-width: 800px) {


.grid1 {
    display: grid;
    grid-template-columns: 1fr;
}

.grid1x1x1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid1x1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
}
</style>