---
---

<div id="slider">
  <p>
    art / community / music / art / community / music / art / community / music / art / community / music / art /
    community / music / art / community / music / art / community / music / art / community / music / art / community /
    music / art / community / music / art / community /
    music /
  </p>
</div>
<style>
  #slider {
    width: 99.8%;
    height: 50px;
    overflow: hidden;
    position: relative;
    background: #ffffff;
    border: 2px solid #1e1e1e;
  }
  #slider p {
    position: absolute;
    top: 18%;
    left: 0;
    width: 400%;
    height: 100%;
    margin: 0;
    padding: 0;
    animation: slide 60s linear infinite;
  }

  p {
    font-family: dance;
    font-size: 36px;
  }
  @keyframes slide {
    0% {
      left: -150%;
    }
    100% {
      left: 0;
    }
  }
</style>
