---
---

<div id="countdown-timer">
  <div class="countdown-item">
    <span id="days"></span><span>d</span>
  </div>
  <div class="countdown-item">
    <span id="hours"></span><span>h</span>
  </div>
  <div class="countdown-item">
    <span id="minutes"></span><span>m</span>
  </div>
  <div class="countdown-item">
    <span id="seconds"></span><span>s</span>
  </div>
</div>

<script src="../scripts/timer.js"></script>
<style>
  #countdown {
    text-align: center;
  }

  #countdown-text {
    margin-bottom: 20px;
  }

  #countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .countdown-item {
    margin: 0 20px;
  }

  .countdown-item span {
    font-size: 40px;
    font-weight: bold;
    color: #eb342a;
  }
  .countdown-item span:nth-child(2) {
    color: white;
    font-size: 35px;
  }
  .countdown-item h1 {
    font-size: 16px;
    font-weight: bold;
  }
</style>
